sudo: false
language: elixir
matrix:
  include:
    - otp_release: 19.3
      elixir: 1.4.5
    - otp_release: 20.3
      elixir: 1.7.4
    - otp_release: 21.3
      elixir: 1.8.1
    - otp_release: 22.0
      elixir: 1.8.2
      env: LATEST=1
env:
  global:
    - MIX_ENV=test
script:
  - if [[ "$LATEST" == "1" ]]; then
      echo "===> Testing with code coverage";
      mix coveralls.travis --trace;
      mix format --check-formatted;
    else
      echo "===> Testing without code coverage";
      mix test --trace;
    fi
cache:
  directories:
    - _build
before_cache:
  # should keep only compiled deps
  - mix clean
